
span h2 {
    background-color: rgb(101, 101, 255);
    color: white;
    height: 50px;
    justify-content: left;
    border: 1px solid blue;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.section1 {
    height: 490px;
    width: 500px;
    border: 1px solid blue;
}

.section1a {
    /* height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 40px 10px;
}

.section2 {
    display: flex;
    justify-content: space-between;
}

.sectionuser1 {
    margin: 15px 0px 15px 52px;
}
.sectionuser2 {
    margin: 15px 54px;
}

.section2a {
    display: flex;
    justify-content: space-between;
}

.submit {
    display: flex;
    justify-content: space-evenly;
}

.submit li {
    list-style: none;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(167 167 255);
    margin: 20px 20px;
    text-shadow: 5px 5px 10px 5px rgb(255, 79, 79);
}

.submit li:hover {
    list-style: none;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(167 167 255);
    margin: 20px 20px;
    box-shadow: 2px 2px 10px 3px blue;
    text-shadow: 5px 5px 10px 5px rgb(255, 43, 43);
    cursor: pointer;
}
